.administracionbackground{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-image: url('../../assets/fondo1.webp');
    height: 100vh;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 190px; /* para que el fondo sea completo */
}

.noadmin{
    background-image: url('../../assets/fondito.webp');

    margin:0 auto;
    width: 400px;
    height: 100px;
    margin-top: 10%;
    color: black;

    font-size: 30px;
    text-align: center;
        

    border-radius: 10px;
}

.adminmenu{
    border-radius: 20px;
    border-style: solid;
    
    border-color: #F2E3C9;
    text-align: center;
    background-color: #B6E2A1;
    background-repeat:repeat;
    padding: 20px;
    margin-left: 5%;
    width: 35vh;
    height: 85vh;
    color: black;
    font-size: 30px;
    border-radius: 20px;
}


  
  .adminmenu h1{
    font-size: 32px;
  }
  
  .adminmenu img {
    
    border-style: solid;
    border-color: black;
    width: 15vh;
    height: 15vh;
    border-radius: 20%;
    object-fit: cover;
  }
  
  .adminmenu button {
    width: 25vh;
    padding: 10px;
    margin-top: 10px;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .adminred {
    background-color: #EF4B4B;
  }
  
  .admingray {
    background-color: #164B60;
  }

.admindashboard{
    background-color: #164B60;
    border-radius: 20px;
    border-style: solid;
    
    border-color: #F2E3C9;
    margin-left: 10%;
    width: 100vh;
    height: 85vh;
    color: black;
    font-size: 30px;
    border-radius: 20px;
}

.adminparent {
    background-image: url('../../assets/fondo1.webp');
    background-repeat:no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 100vh;
    grid-template-rows: 190px 100vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.admindiv1 { grid-area: 1 / 1 / 2 / 2; }
.admindiv2 { grid-area: 2 / 1 / 3 / 2;
display: flex; }


.dashboardtitulo{
    padding: 5%;
    height: 10vh;
    

    border-bottom: 3px solid  #F2E3C9;
}

.dashboardtitulo h1{
    font-size: 32px;
    text-align: center;
}
.dashboardcontenido{
 color: #164B60;
}