.my-flicking{

        width: 500px;
        height: 480px;
        color: white;
        
        
 
 




}

.imgcr{
    width: 500px;
    height: 250px;
    margin: '11px';
    border-radius: 20px;
    
   

}


.divcr p{
    color: white;
}

