.galeriabackground{
    background-image: url('../../assets/fondito.png');
    height: 100vh;
    background-repeat:repeat;
}

.container{
    display: flex;
    flex-direction: column;
}

.container > div{
    margin-left: 35%;
    width: 550px;
    height: 20vh;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.caja_invisible{
    background-color: rgba(255, 255, 255, 0);
 
}