.galeriabackground{/* fonod de la pagina */
    background-image: url('../../assets/fondito.webp');
    background-position: fixed;
    background-repeat:repeat;
    padding-top: 190px; /* para que el fondo sea completo */
}

.cardgaleria{
    margin-bottom: 10rem;
}


 

.caja_invisible{
    background-color: rgba(255, 255, 255, 0);
 
}

.mis-botones-grupo-css{
    background-image: url('../../assets/fondito.webp');
    background-repeat:repeat;

}


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
  }



  /* otras targetas */
  .tarjetasparagaleria {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 340px;
    max-height: 440px;
  }
  
  .tarjetasparagaleria h1 {
    margin-bottom: 8px;
    font-size: 1.5rem;
    max-width: 320px;
    max-height: 35px;
  }
  .tarjetasparagaleria p {
    margin-bottom: 8px;
    font-size: 0.8rem;
    max-width: 320px;
    max-height: 45px;
  }
  
  .tarjetasparagaleria img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 320px;
    height: 300px;
  }
  .container-ver-tu-mascota-galeria{
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

  }

  
  .card-container-perritos-automatico {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
  }
  
  /* Estilos para los inputs y botón */
  .estilo-input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .styled-button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  