.preguntasFrecbackground{
    background-image: url('../../assets/fondito.webp');
    background-position: fixed;
    background-repeat:repeat;
    padding-top: 190px; /* para que el fondo sea completo */
}

.cardPreguntasFrec{
    margin-bottom: 10rem;
}


.caja_invisible{/* fondo de la caja invisible */
    background-color: rgba(255, 255, 255, 0);
 
}



  .tarjetasparaPreg {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 340px;
    max-height: 390px;
  }
  
  .tarjetasparaPreg h1 {
    margin-bottom: 8px;
    font-size: 1.2rem;
    width: 290px;
    height: 45px;
  }
  
  .tarjetasparaPreg img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 320px;
    height: 300px;
  }

  .container-ver-tu-mascota-preguntas-frec{
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

  }




  .container-de-perritos-automaticos {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-container-perritos-automatico {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
  }
  
  /* Estilos para los inputs y botón */
  .estilo-input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .styled-button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  