
.RecuperarPassword {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 120px 1fr;
   grid-column-gap: 0px;
   grid-row-gap: 0px;
   background-image: url('../../assets/fondo3.png');
   height: 100vh;
   background-repeat:no-repeat;
   background-size: cover;
   }
   
   .espacionavbar { 
       grid-area: 1 / 1 / 2 / 2; 
   }
   .contenidorecuperar{ 
       grid-area: 2 / 1 / 3 / 2;
       
    }

    .RecuperarPasswordBackground{
           background-image: url('../../assets/fondito.png');
           background-repeat:repeat;
           background-size: contain;
           margin:0 auto;
           width: 450px;
           margin-top: 5%;
          color: black;

           font-size: 30px;

           border-radius: 20px;
       
    }    
     .textocentradoPassword{
       text-align: center;
    }

    .recuperarformulario > div{
       font-size: 17px;
       display :flex;
       flex-flow: column;
       height: auto;
    }
    .recuperarformulario input{
       text-align: center;
       border-radius: 20px;
    }

 
