.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-image: url('../../assets/fondo2.png');
    height: 100vh;
    background-repeat:no-repeat;
    background-size: cover;
    }
    
    .espacionavbar { 
        grid-area: 1 / 1 / 2 / 2; 
    }
    .contenidoregister { 

        grid-area: 2 / 1 / 3 / 2;
        
     }

     .Registerbackground{
            background-image: url('../../assets/fondito.png');
            background-repeat:repeat;
           
            margin:0 auto;
            width: 450px;
            margin-top: 1%;
            font-size: 30px;
            border-radius: 20px;

     }

     .textocentradoregistro{
        text-align: center;
     }

     fieldset input{
        text-align: center;
        border-radius: 20px;
     }

    fieldset > div {
        font-size: 20px;
        display :flex;
        flex-flow: column;
        height: auto;
        
     }