body, h1, h2, h3, h4, h6, p {
  color: black;
}

.imagen-fondo {
  background-image: url('../../assets/fondo1.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedor-perfil-usuario {
  display: flex;
  margin-top: 120px;
  justify-content: space-between;
  align-items: flex-start;
}

.perfil-usuario {
  flex: 1 1 auto;
  padding-left: 20px;
}

.formulario-usuario {
  background-image: url('../../assets/fondito.webp');
  padding: 10px;
  border-radius: 10px;
  width: 20%;
  margin: 0 auto;
  z-index: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.formulario-usuario input[type="text"],
.formulario-usuario input[type="email"],
.formulario-usuario input[type="tel"],
.formulario-usuario textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 15px;
}

.formulario-usuario button[type="submit"],
.formulario-usuario .btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.formulario-usuario .btn-primary input[type="file"] {
  display: none;
}

.contenedor-imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.imagen-perfil {
  background-image: url('../../assets/dwayne.jpg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #000000;
  margin-bottom: 10px;
}
/*--------------------------------------------------------------------  */
.formulario-agregar-mascota {
  margin: 20px auto;
  padding: 20px;
  background-image: url('../../assets/fondito.webp');
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 70%;
  z-index: 1;
}

.formulario-agregar-mascota label {
  font-weight: bold;
}

.formulario-agregar-mascota input[type="text"],
.formulario-agregar-mascota input[type="number"],
.formulario-agregar-mascota textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formulario-agregar-mascota button[type="submit"]:hover {
  background-color: #0056b3;
}

.formulario-agregar-mascota .btn-cancelar {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.formulario-agregar-mascota .btn-cancelar:hover {
  background-color: #bd2130;
}

.contenedor-mis-mascotas .boton-agregar-mascota {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: 200px;
  margin: 0 auto;
  margin-top: 10px;
  display: block;
}



.contenedor-imagen-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.titulos {
  text-align: center;
  font-family: Arial Black;
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
}

.fondo-informacion-mascota {
  background-color: #f0f0f0b0;
  padding: 10px;
  border-radius: 5px;
}

.informacion-mascota {
  border: 1px solid #cccccc;
  padding: 10px;
  margin-top: 10px;
}

.contenedor-detalles-mascota {
  background-image: url('../../assets/fondito.webp');
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
}

.miniatura-mascota {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.imagen-miniatura-mascota {
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
}

.imagen-galeria {
  max-width: 150px;
  max-height: 150px;
  margin: 10px;
}

.contenedor-botones {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.contenedor-mascotas {
  display: flex;
  justify-content: center;
}

.miniatura-mascota {
  flex-direction: column;
}

.boton-ver-detalles {
  margin-top: 10px;
  align-self: center;
}

.miniatura-mascota {
  margin-top: 20px;
  margin: 20px;
}

.contenedor-detalles-mascota {
  margin-top: 20px;
  margin-bottom: 20px;
  width: fit-content;
  margin: 0 auto;
}

.contenedor-detalles-mascota {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.informacion-mascota {
  margin-top: 10px;
}

.contenedor-botones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contenedor-botones-direcciones {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.boton-mis-mascotas {
  display: inline-block;
  margin: 5px;
}

.boton-historial-solicitudes {
  display: inline-block;
  margin: 5px;
}

.boton-solicitudes-activas {
  display: inline-block;
  margin: 5px;
}
/* --------------------para abajo armazon pagina----------------------------------*/
/* En tu archivo CSS */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}
