

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}












body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}










.seccionhm{
background-size: cover;
background-position: center;
height: 100vh; 
display: flex;
flex-direction: row  ;
justify-content: center;
align-items: center;
gap: 40px;



}


#seccion1hm{

background-image: url('./assets/fondo1.png');
display: flex;
flex-direction: column;
background-repeat: no-repeat;
color: white;
font-size: large;
padding: 40px;
margin-top: 50px;



}







.fondohm{

background-size: auto; 
background-position: center; 
filter: blur(10px); 
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
}


.img1hm{
background-image: url('./assets/fondo1.png');

}




























#seccion1hm .cont{

display: flex;
flex-direction: row  ;
gap: 100px;
align-items: center;



}


#seccion1hm .cont .texto{
height: 600px;
width: 600px;
color: white ;
display: flex;
flex-direction: column;
text-align: center; 
justify-content: center;






}


#seccion1hm .cont .carrusel{

height: 600px;
width: 800px;

display: flex;
flex-direction: column; 

text-align: center; 
padding: 50px;




}










#seccion2hm{
color: black;


display: flex;
justify-content: space-between; 
flex-direction: column; 
align-items: center; 
justify-content: center;
background-image: url('./assets/fondito.png');
background-size: auto;
color: #282c34;

}



#seccion2hm .opciones {
display: flex;
flex-direction: row  ;
padding: 150px;
gap: 200px;
align-items: center;

}

#seccion2hm .donar {
display: flex;
flex-direction: column; 
align-items: center; 
text-align: center; 
width: 250px;


}


#seccion2hm .ayudar {
display: flex;
flex-direction: column; 
align-items: center; 
text-align: center; 
width: 250px;


}



#seccion3hm{
  background-image: url('./assets/fondo2.png');
  color: azure;
  display: flex;
  flex-direction: column; 
  text-align: center;
  align-items: center;    
  gap: 30px;
  flex-wrap: wrap;
  background-color: #282c34;
  

  
}











#seccion3hm h1{
  display: flex;
  background-color: #282c34;
 
}




#seccion3hm .cardhmshm{
display: flex;
flex-direction: row;
text-align: center;
align-items: center;
justify-content: center;
width: 35%;
height: 60%;
gap: 10px; 
flex-wrap: wrap;


}
#seccion3hm .cardhm{
 
  width: 200px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center; 
  justify-content: center;


      
}

#seccion3hm .imgc{
  
width: 100px; 
height: 100px; 
border-radius: 100%;
  
}











