
.App {
    text-align: center;
    margin-top: 122px;

}











       
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #282c34;
}


ul.navbar {
  background-color: crimson;
  height: 70px;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
}

ul.navbar li {
  position: relative;
  left: 250px;
  display: inline-block;
}

ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li a:hover {
  background-color: #ddd;
  color: black;
}


.section {
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

#section1 {
  position: relative; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 24px;
}



#fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/fondo2.png');
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(10px);
  z-index: -1; 
}





.texto1 {
  z-index: 1; /* Coloca el contenido encima del fondo */

}


.texto1 h1{
 
  outline: none;
  position: relative;
  top: 70px;
  
  

  
  
  
}



.texto1 section{
 
  outline: none;
  position: relative;
  width: 650px;
  height: 500px;    
  right: 300px;
  top: 120px;
  
}

.texto1 button{
  width: 150px;
  height: 50px;
  border-radius: 16px;
  position: relative;
  right: 520px;
  background-color: crimson;
  color: white;
  font-size: medium;
  cursor: pointer;
  

}

#section2 {
  position: relative; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  font-size: 24px;


}

#section2 .texto2 h1{
  position: relative;
  bottom: 300px;


}

#section2 .texto2 .sec1 h5{
  position: absolute; 
  bottom: 0;
  left: 300px; 
  padding: 20px; 
  width: 400px;
  bottom: 120px;

  

}

#section2 .texto2 .sec2{
  position: absolute; 
  bottom: 0;
  right: 300px;
  padding: 20px; 
  width: 400px;
  bottom: 120px;
}










#fondo2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/fondito.png');
  background-size: cover;
  background-repeat: no-repeat;

  z-index: -1; 

}


#section3 {
  background-color: darkcyan;
}

#section3 section{
  height: 100px;
  width: 100px;
  background-color: aliceblue;
  display: flex;
}











